*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.container{
    width: 100%;
    height: 100vh;
    background: linear-gradient(45deg,#22046b, #e14e42 );
    position: relative;
    background-size: 100% 100%;
}
.container-fluid{
    width: 600px;
    height: 280p;
    position: absolute;
    left: 14%;
    top: 45%;
    transform: translateY(-50px);
    overflow: hidden;
}
.slider{
display: inline-flex;
transition: 0.5s ease;
}
.slider-col{
    width: 600px;
    height: 280px;
}
.slider-col h1{
    color: #fff;
    font-size: 80px;
    font-weight: 100;
    margin: 10px 0;
}
.slider-col p{
    color: #ddd;
    font-size: 15px;
    line-height: 25px;
}
.slider-col a{
    display: inline-block;
    text-decoration: none;
    color: #333;
    background: #f1f1f1;
    font-size: 15px;
    padding: 10px 35px;
    border-radius: 30px;
    margin-top:25px ;
}
.controller{
    width: 1px;
    height: 320px;
    display: block;
     background: #c0c0c0;
     position: absolute;
     top: 55%;
     right: 50px;
     transform: translateY(-50%);
}
#line1,#line2,#line3,#line4{
    height: 80px;
    width: 10px;
    cursor: pointer;
    transform: translateX(-50%);
}
#activ{
    color: #c4d719;
    width: 5px;
    height: 80px;
    border-radius: 10px;
    background: #fff;
    position: absolute;
    top: 0;
    transform: translateX(-50%);
    transition: 0.5s ease;

}
@media (max-width:780px) {
    .container-fluid{
        width: 500px;
                transform: translateY(-50px);
        overflow: hidden;
    }
    .slider-col{
        width: 500px;
        min-height: 280px;
    }
    .slider-col h1{
        font-size: 39px;
    }
}
@media (max-width:610px) {
    .container-fluid{
        width: 300px;
        overflow: hidden;
    }
    .slider-col{
        width: 300px;
        min-height: 280px;
    }
    .slider-col h1{
        font-size: 35px;
    }
}
@media (max-width:418px) {
    .container-fluid{
        width: 250px;
        overflow: hidden;
    }
    .slider-col{
        width: 250px;
        min-height: 280px;
    }
    .slider-col h1{
        font-size: 30px;
    }
    .slider-col p{
        color: #ddd;
        font-size: 16px;
        line-height: 20px;
    }
}
@media (max-width:348px) {
    .container-fluid{
        width: 180px;
        overflow: hidden;
    }
    .slider-col{
        width: 180px;
        min-height: 290px;
    }
    .slider-col h1{
        font-size: 22px;
    }
    .slider-col p{
        color: #ddd;
        font-size: 14px;
        line-height: 15px;
    }
}